[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    docs/source,
    apstools/_version.py,
    ideas
    resources/debug_findpv.py
    dev_*.py
    dev_*.ipynb

# E501 line too long
# many long lines in python code
# most in documentation
# some in test cases
max-line-length = 115
# TODO: re-enable E501 error
ignore: E226,E402,E501,E741,F401,F403,W503,W504
