# local developer code
dev_*.py
dev_*.ipynb

# unit test
.coverage

db/
log/
pid/
security/
__pycache__/
*.pyc
*.egg-info
*.tar.gz
*.whl
docs/build/
.settings/
build/
.ipynb_checkpoints/
.pydevproject
issue*.py
build_log.txt

.ipython_*.log*
.logs/
.vscode/
20*.dat

# bird droppings from IT
.log
.loglogin
