# local developer code
dev_*.py
dev_*.ipynb
dev_*.*

# local note-taking
_notes*.md

# local note-taking
_notes*.md

# unit test
.coverage

db/
log/
pid/
security/
__pycache__/
*.pyc
*.egg-info
*.tar.gz
*.whl
docs/build/
.settings/
build/
.ipynb_checkpoints/
.pydevproject
issue*.py
build_log.txt

.ipython_*.log*
.logs/
.vscode/
20*.dat
20*.hdf

# bird droppings from IT
.log
.loglogin

# setuptools-scm : generated version number
_version.py
