include README.md
include CHANGES*
include LICENSE.txt
include apstools/devices/aps_cycle_info.yml
include apstools/devices/pss_shutter.db
include apstools/devices/pss_shutter.ui
include apstools/migration/config
