include LICENSE.txt
include apstools/devices/*.db
include apstools/devices/*.ui
include apstools/devices/*.yml
include apstools/migration/config
exclude .*
prune .*/
prune *.egg-info/
prune docs/
prune ideas/
prune resources/
